**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
str1= input()

#method 1
print(len(str1))

#method 2
count=0
for i in str1:
    count += 1
print(count)

hello
5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [5]:
str2= input()

if ( len(str2) < 2):
    print("")
else:
    new_str= (str2[0:2]) + (str2[-2:])
    print(new_str)

w3resource
w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [17]:
str3= input()

if( len(str3) >= 3):
    if( str3.endswith("ing") ):
        str3= str3 + "ly"
    else:
        str3= str3 + "ing"
        
print(str3)

abc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [12]:
def longest_word(l):
    length=0 
    maximum=0
    max_word=""
    
    for i in l:
        length= len(i)
        if ( length > maximum ):
            maximum= length
            max_word= i
    return maximum , max_word



m , w = longest_word(["hello" , "world" , "python"])
print(f"length of the longest word ({w}) is: {m}")

length of the longest word (python) is: 6

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [17]:
str5= input()

new_str5= str5[-1] + str5[1:-1] + str5[0]

print(new_str5)

abce
ebca

In [2]:
def swap2(string):
    new_str5= list(string)
    new_str5[0] ,new_str5[-1] = new_str5[-1] , new_str5[0]
    string = ''.join(new_str5)
    
    return string

str5= input()
swap2(str5)

abce

'ebca'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [1]:
str6= input()

# new_str= ""
# for i in range(len(str6)):
#     if ( i%2 != 0 ):
#         continue
#     else:
#         new_str += str6[i]
        
# print(new_str)


print(str6[::2])

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [13]:
sen= list (input().split())
words= {}


for word in sen:
    if word in words:
        words[word]+= 1
    else:
        words[word]=1
        
        
print(words)

amr and ahmed are frindes but amr is the tallest
{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [21]:
s= input()
print(f"upper form: {s.upper()}")
print(f"lower form: {s.lower()}")

hello
upper form: HELLO
lower form: hello

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [30]:
def rev(s):
    if( len(s) % 4 == 0):
        s= s[::-1]
    return s

rev("abcd")

'dcba'

**10- Write a Python program to remove a newline in Python

In [14]:
def remove_newline(s):
    return s.replace("\n" , " ")

res= remove_newline("hello world\nhello world")
print(res)

hello world hello world

**11-Write a Python program to check whether a string starts with specified characters

In [16]:
def start_char(char , string):
    if( st.startswith(char)):
        return True
    else:
        return False
    
char , st =input("enter the specified character and the string: ").split()
start_char( char , st)

enter the specified character and the string: s shahd

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [17]:
def prefix(string , prefix):
    lines= string.split('\n')
    prefixed_lines = []
    for line in lines:
        prefixed_lines.append( prefix + line)
    return '\n'.join(prefixed_lines)

example= """my name is shahd
i am an AI student
my id is 21-0000"""

prefixed_example = prefix(example, "Hello, ")
print(prefixed_example)

Hello, my name is shahd
Hello, i am an AI student
Hello, my id is 21-0000

**13-Write a Python program to print the following numbers up to 2 decimal places

In [21]:
def two_decimal(number):
    return "{:.2f}".format(number)
    
num= float(input("Enter a number: "))

two_decimal(num)

Enter a number: 4.9786

'4.98'

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [22]:
def two_decimal_sign(number):
    return "{:+.2f}".format(number)
    
num= float(input("Enter a number: "))

two_decimal_sign(num)

Enter a number: +2.1934

'+2.19'

**15-Write a Python program to display a number with a comma separator

In [24]:
def comma_separator(number):
    return "{:,}".format(number)
    
num= int(input("Enter a number: "))

comma_separator(num)

Enter a number: 100000

'100,000'

**16-Write a Python program to reverse a string using 2 ways

In [2]:
def reverse(string):
    return string[::-1]

reverse("hello")

'olleh'

In [4]:
print("".join(reversed(input())))

hello
olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [7]:
st= input("enter the string ")
repeated=[]
chars= {}

for i in st:
    if ( ( i not in repeated ) and ( st.count(i) > 1) ):
        repeated.append(i)
        chars[i]= st.count(i)

print(len(repeated))
print(chars)

enter the string hello
1
{'l': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [25]:
def non_repeated(string):
    char= None
    for i in s:
        if(s.count(i) == 1):
            char=i
            break
    return char

s= input()
non_repeated(s)

aabccd

'b'

**19-Write a Python program to remove spaces from a given string

In [6]:
print(input().replace(" " , ""))

Hello World
HelloWorld

**20-Write a Python program to count the number of non-empty substrings of a given string

In [15]:
def substrings(string):             
    sub=[]
    for i in range(len(string)): 
        for j in range (i+1 , len(string)+1):
            new_s= string[i:j]
            sub.append(new_s)
    
    return len(sub)
            
st= input()
substrings(st)

abcd

10

**21-write a Python program to swap first and last element of any list.

In [19]:
def swap_list(l):
    l[0] , l[-1] = l[-1] , l[0]
    return l

swap_list([1,2,3,4])

[4, 2, 3, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [46]:
def swap_list1(l , pos1 ,pos2):
    l[pos1-1] , l[pos2-1] = l[pos2-1] , l[pos1-1]
    return l

pos1 , pos2 = map(int , input("Enter two positions you want to swap").split())
numbers= list(input().split())
swap_list1(numbers , pos1 , pos2)

Enter two positions you want to swap1 3
23 65 19 90

['19', '65', '23', '90']

**23- search for the all ways to know the length of the list

In [26]:
#method 1
print(len(list(input("Enter the list element: ").split())))

Enter the list element: 1 2 3 4 5
5

In [29]:
#method 2
def list_length(l):
    count=0
    for i in l:
        count += 1
    return count

li= list(input("Enter the list element: ").split())
list_length(li)

Enter the list element: 1 2 3 4 5 6 7

7

In [31]:
#method 3
def list_length(l):
    return sum(1 for _ in l)

li= list(input("Enter the list element: ").split())
list_length(li)

Enter the list element: 1 2 3 4

4

In [28]:
**24-write a Python code to find the Maximum number of list of numbers.

In [32]:
def max_element(l):
    maximum= l[0]
    for i in range(1,len(l)):
        if(l[i] > maximum):
            maximum= l[i]
    return maximum

max_element([4,19,5,2,10])

19

In [1]:
print(max(list(map(int , input().split()))))

2 10 4 6 9
10

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [62]:
def min_element(l):
    minimum= l[0]
    for i in range(1,len(l)):
        if(l[i] < minimum):
            minimum= l[i]
    return minimum

min_element([4,19,5,2,10])

2

In [32]:
print(min(list(map(int , input().split()))))

1 2 5 7 0
0

**26-search for if an elem is existing in list

In [17]:
def search( l , key):
    pos= "this number not found"
    for i in l:
        if( i == key):
            pos= l.index(i)
            break
    return pos

nums= list(map(int , input("Enter the list of numbers: ").split()))
key = int(input("Enter the number you want to find: "))

search(nums , key)

Enter the list of numbers: 1 2 3 4 5
Enter the number you want to find: 10

'this number not found'

In [23]:
def search( l , key):
    pos= 0
    try:
        pos= l.index( key )
        
    except:
        print("Number not found")
        
    else:  
        return pos

nums= list(map(int , input("Enter the list of numbers: ").split()))
key= int(input("Enter the number you want to find: "))

search(nums , key)

Enter the list of numbers: 1 2 3
Enter the number you want to find: 3

2

**27- clear python list using different ways

In [49]:
y=[1,2,3,4]

#method 1
y.clear()

#method 2
# y= []

#method 3
# y= y[:0]

y

[]

**28-remove duplicated elements from a list

In [27]:
nums= list(map(int , input().split()))
new_list= list(set(nums))
print(new_list)

1 1 4 5 4 6 3 6 5
[1, 3, 4, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [33]:
keys= ["name" , "age" , "hobby" , "id"]
values= ["shahd" , 21 , "programming" , "21-0000"]
dic={} 

for key , value in zip(keys , values):
    dic[key]=value

dic

{'name': 'shahd', 'age': 21, 'hobby': 'programming', 'id': '21-0000'}

**30-write a python program to count unique values inside a list using different ways

In [10]:
l= list(input().split())
unique_values= []

for i in l:
    if (l.count(i) == 1 and i not in unique_values):
        unique_values.append(i)

print(len(unique_values))

4 7 3 7 4 2 0 9 10
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [9]:
k = int(input("Enter frequency value "))
l= list(map(int , input("enter the list of numbers ").split()))
new_set= set()

for i in l:
    if( l.count(i) > k):
        new_set.add(i)
        
print(list(new_set))

Enter frequency value 3
enter the list of numbers 4 6 4 3 3 4 3 4 3 8
[3, 4]

In [36]:
def remove_kfreq( l , k ):
    greater_k=[]
    for i in l :
        if i not in greater_k and l.count(i) > k :
            greater_k.append(i)
    return greater_k

k = int(input("Enter frequency value "))
l= list(map(int , input("enter the list of numbers ").split()))

remove_kfreq( l , k )

Enter frequency value 3
enter the list of numbers 4 6 4 3 3 4 3 4 3 8

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [58]:
l= list(map(int , input("Enter the list of numbers ").split()))
strong_n=0
strongest_neighbour=[]

for i in range (1 , len(l)):
    strong_n= max( l[i] , l[i-1])
    strongest_neighbour.append(strong_n)

strongest_neighbour

Enter the list of numbers 1 2 2 3 4 5

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [117]:
num= list(map(int , input().split() ))
new_num= []
new_num2= []
combinations=[] 

for i in range( 0 , len(num)):
    new_num.append(num[i])
    new_num2.append(num[i])
    remain= num.copy()
    remain.remove(num[i])
    new_num += remain
    new_num2 += remain[::-1]
    combinations.append(new_num)
    combinations.append(new_num2)
    new_num=[]
    new_num2=[]
            
print(combinations)

1 2 3
[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [116]:
from itertools import permutations 
def per( l ):
    result= []
    for perm in permutations(l):
        result.append(list(perm))
    return result

per([1,2,3])

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [115]:
from itertools import combinations

def find_combinations(l):
    result = []
    
    for i in range(1, len(l)+1):
        for combin in combinations(l ,i):
            result.append(list(combin))
    return result

find_combinations([1,2,3])

[[1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [12]:
def unique_combinations(l1 , l2):
    element= []
    combinations=[]
    
    for i in l1:
        for j in l2:
            combinations.append([i ,j])
    return combinations

list1= list(input("Enter the element of first list: ").split())
list2= list(input("Enter the element of secound list: ").split())

unique_combinations( list1 , list2 )

Enter the element of first list: a b c
Enter the element of secound list: 1 2 3

[['a', '1'],
 ['a', '2'],
 ['a', '3'],
 ['b', '1'],
 ['b', '2'],
 ['b', '3'],
 ['c', '1'],
 ['c', '2'],
 ['c', '3']]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [11]:
def remove_ocurrence( l , element):
    l= [i for i in l if i != element]
    return l

numbers= list(map(int , input("Enter the list of numbers: ").split()))
num= int(input("Enter the number you want to remove: "))
remove_ocurrence(numbers , num)

Enter the list of numbers: 1 1 2 3 4 5 1 2 1
Enter the number you want to remove: 1

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [22]:
def replacement(values , indicies):
    for i in range(0 , len(indicies)):
        indicies[i]= values[indicies[i]]

        
    return indicies

list1= ["Gfg", "is", "best"]
list2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

res = replacement(list1 , list2)
print(res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [28]:
def ocurrence_record(l , k , n):
    for tub in l:
        if ( tub.count(k) == n):
            res= list(tub)
            return res
        
ocurrence_record([(4, 5, 5, 4), (5, 4, 3)] , 5 ,2)

[4, 5, 5, 4]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [101]:
def sort_column(array):
    for i in range(len(array)):
        new= sorted(array ,key= lambda column: column[i])
        print(f"Sorted array specific to column {i}, {new}")
        
sort_column([[1, 3, 3], [2, 1, 2], [3, 2, 1]])

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [28]:
def dict_sort( dic , key_value):
    if ( key_value== "k" or key_value== "K" ):
        dic= dict(sorted(dic.items() , key= lambda item: item[1]))
        
    
    elif(key_value== "v" or key_value== "v" ):
        dic= dict(sorted(dic.items()))

    return dic


dict_sort({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32} , "k")

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [34]:
def remove_keys( dic , k):
    new_dic= {}
    for key in dic:
        if ( type(dic[key]) == int):
            if( dic[key] < 7):
                new_dic[key] = dic[key]
    return new_dic

remove_keys( {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"} , 7)

{'Gfg': 3, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [45]:
def concate(*dicts):
    res= {}
    for dictionary in dicts:
        res.update(dictionary)
    return res

concate({1:10, 2:20}, {3:30, 4:40} , {5:50,6:60})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [100]:
def iterate_over_dictionary( d ):
    for key , value in d.items():
        print(f"key is: {key} , value is: {value}")
        
iterate_over_dictionary( {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"} )

key is: Gfg , value is: 3
key is: is , value is: 7
key is: best , value is: 10
key is: for , value is: 6
key is: geeks , value is: CS

**44- Write a Python script to merge two Python dictionaries

In [48]:
def merge(dict1 , dict2):
    new_dict= { **dict1 , **dict2 }
    return new_dict

merge( {1:10, 2:20} , {3:30, 4:40} )

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [50]:
def max_minv(dictionary):
    mx= max(dictionary.values())
    mn= min(dictionary.values())
    
    return mx , mn

max_value , min_value =max_minv({1: 10, 2: 20, 3: 30, 4: 40})
print(f"The maximum value is: {max_value}")
print(f"The minimum value is: {min_value}")

The maximum value is: 40
The minimum value is: 10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [58]:
def drop_none(dictionary):
    copy= dictionary.copy()
    for key , value in copy.items():
        if value is None:
            dictionary.pop(key)
            
    return dictionary

drop_none( {'c1': 'Red', 'c2': 'Green', 'c3': None} )

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [121]:
import random
def print_element(t):
    random_index= random.randint(0 ,len(t) - 1)
    return t[random_index]

print_element((1,2,3,4,5))

3

**48-Write a Python program to unpack a tuple into several variables

In [124]:
def unpack(t):
    *V, =t
    return v

unpack((1,2,3,4))

[1, 2, 3, 4, 5]

**49-Write a Python program to add an item to a tuple

In [67]:
def add(t , item):
    new_t=[]
    new_t.append(item)
    t += tuple (new_t)
    return t

add((2,2,3) , 5)

(2, 2, 3, 5)

**50-Write a Python program to convert a tuple to a string

In [73]:
def tuple_to_string(t):
    return str("".join(t))

tuple_to_string(("s","h","a","h","d"))

'shahd'

**51-Write a Python program to convert a list to a tuple

In [76]:
def tuple_to_list(t):
    return list(t)

tuple_to_list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

**52-Write a Python program to reverse a tuple

In [77]:
def reverse_tuble(t):
    return t[::-1]

reverse_tuble( (1,2,3,4,5,6,7) )

(7, 6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [44]:
def replace(l , value):
    res=[]
    for i in range(len(l)):
        l[i]= list(l[i])
        l[i][-1]= value
        l[i]= tuple(l[i])
        
    return l

test= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
replace(test , 100)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [127]:
def string_to_tuple(string):
    return tuple(string)

string_to_tuple("shahd")

('s', 'h', 'a', 'h', 'd')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [140]:
def average(t):
    summation=0
    count=0
    
    for tupl in t:
        for number in tupl:
            summation += number
            count += 1
            
    average= summation / count
    
    return average

average(((1,2,3), (4,5,6)))

3.5

**56-Write a Python program to add member(s) to a set.

In [86]:
def add_to_set(s , *items):
    for element in items:
        s.add(element)
    return s

add_to_set({4,6,7,8,1,2} , 10,12,13)

{1, 2, 4, 6, 7, 8, 10, 12, 13}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [137]:
def remove_item( set_test , item ):
    try:
        set_test.remove(item)
        
    except KeyError:
        print("Number not exist in the set")
        
    else:
        print("Number has been removed")
        return s

remove_item({1,2,3,4,5} , 10)

Number not exist in the set

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [46]:
def set_functions(s1 , s2):
    return s1.intersection(s2) , s1.difference(s2) , s1.symmetric_difference(s2)

intersect , diff , sym_diff= set_functions({1,2,3},{3,4,5})

print(f"The intersection is: {intersect}\nThe difference is: {diff}\nThe symmetric difference is: {sym_diff}")

The intersection is: {3}
The difference is: {1, 2}
The symmetric difference is: {1, 2, 4, 5}

**59-Write a Python program to find the maximum and minimum values in a set

In [34]:
def max_min(s):
    mx= max(s)
    mn= min(s)
    return mx , mn

nums= set(map(int , input("Enter the set of numbers: ").split()))
max_number , min_number =max_min(nums)

print(f"the maximum number is: {max_number}")
print(f"the minimum number is: {min_number}")

Enter the set of numbers: 7 9 2 0 3
the maximum number is: 9
the minimum number is: 0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [45]:
def pairs_sum( l , value):
    pairs=[]
    pair=[]
    for i in range(len(l)):
        for j in range(i+1 ,len(l)):
            if i == j:
                continue
            else:
                if(l[i] + l[j] == value):
                    pair.extend([l[i] , l[j]])
                    pairs.append(tuple(pair))
                    pair=[]
    return pairs

pairs_sum([1,2,3,4,6] ,5 )

[(1, 4), (2, 3)]